:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
}

body{
  background-color: grey;
}

@font-face {
  font-family: 'Pokemon Solid', sans-serif;;
  src: url('https://fonts.cdnfonts.com/css/pokemon-solid?styles=24573');
}

#sprites{
  background-color: black;
  
}

.extrabtns{
  display: flex;
  padding-top: 25px;
  transform: translate(-55px);

  margin: 0 10px;

}
.App {
  display: flex;
  text-align: center;
  font-family: 'Pokemon Solid';
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}
.toplights{
  display: flex;
  justify-items: space-between;
  align-items: center;
  position: fixed;
  top: 10%;
}

.divbtnclass, .divbtnclass2{
display: flex ;
justify-content: center;
align-items: center;
}
.card{
  border-radius: 5px;
}

#infodisplays{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 100%;
  flex-direction: row;
}

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

@keyframes search1 {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}
@keyframes search2 {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
}
@keyframes search3 {
  0% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}
@keyframes thinking {
  0%, 100% {
    background: radial-gradient(rgba(36, 17, 187, 1), rgba(97, 87, 233, 1));
    ;
  }
  10%,80% {
    background: radial-gradient(rgb(103, 95, 165), rgb(177, 121, 17));
  }
  20%, 90% {
    background: radial-gradient(rgb(102, 102, 176), rgb(42, 160, 33));
  }
  50%{
    background: radial-gradient(rgb(36, 17, 187), rgba(97, 87, 233, 1));
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    margin-left: 15px;
    width: 150px;
    -webkit-appearance: none;
    background-color: #ffffff;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #ff0101;
    border-radius: 5px;
    box-shadow: -80px 0 0 80px #43e5f7;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #9a905d;
}

@media screen and (orientation:portrait) { 
  /* body{
    background-color: rgb(55, 255, 0);
  } */
  .section{
    height: 800px;
  }
  .panels{
    height: 60vh;
  }
  .screen, .divbtnclass, .divbtnclass2, .card, #infodisplays{
    transform: translate(0px, 0px);
    scale: 0.8;
  }
  .extrabtns{
    transform: translate(-15pxpx, 0px);
    /* scale: 0.8; */
  }
  .App{
    margin:5px;
  }
 }
 
@media screen and (orientation:landscape) { 
  body{
    background-color: #13bba4;
  }
  .panels{
    height: 80vh;
  }
  .screen{
    transform: translate(0px, 0px);
    scale: 1;
  }
  #pokenum{
    /* transform: translate(0px, 50px); */
    /* scale: 1.2; */
    font-size: 25px;
  }
  #topdisplay2{
    /* transform: translate(0px, -50px); */
    /* scale: 1; */
    font-size: 2em;
  }
  .divbtnclass, .divbtnclass2, .extrabtns, .card, .infodisplays{
    /* transform: translate(0px, px); */
    /* margin-bottom: 25px; */
    /* scale: 1.2; */
    font-size: 2em;
  }
    
  }

 

